<% provide(:title, "About") %>
<h1>About</h1>
<p>
The purpose of this website is to help a pilot track their flights. The pilot can enter all the information relevant to each flight they take,
and the information will be saved and available for them to retrieve at any time. This is NOT a logbook. Its purpose is to act as a secondary
way to keep track of flight data.</p>

<p>
My flight log website demonstrates my ability to both create a layout for a website using html and css, and use Ruby on Rails to create interactive content.
I learned how to create a universal layout, with multiple pages sharing elements such as the navigation bar, footers, and css style elements.
I learned how to use bootstrap and css to create visually appealing tables and buttons for my log page. I learned how to create a database using SQLite,
populate it with various types of data using forms, and display that data to the user on request in order to save and retrieve log entries.
Finally, I learned how to test features using integration tests. </p>
