<% provide(:title, "Home") %>
<h1>Marty's Logbook</h1>

<div class="center jumbotron">
  <h1>Welcome to The Flight Logbook!</h1>

  <h2>
    Click below to view your flight log!
  </h2>

  <%= link_to "Flight Log", '/log', class: "btn btn-lg btn-primary" %>

</div>

<%= link_to image_tag("rails.png", alt: "Rails logo"),
            'http://rubyonrails.org/' %>
